/* Styles for mobile device */
@media only screen and (max-width: 900px) {
    /* Header Styles */
    header {
        height: 70px;
        width: 100%;
        background-color: rgb(0, 80, 169);
    }
    div#headerBlock {
        height: 100%;
    }
    img.menuIcon {
        height: 25px;
        margin-top: 25px;
        margin-left: 25px;
    }
    img.searchIcon {
        height: 25px;
        float: right;
        margin-right: 25px;
        margin-top: 25px;
    }
    /* Index Content Styles */
    div#indexContent {
        background-color: rgba(0, 0, 0, 0.1);
        background-position: center;
        background-size: cover;
        height: 350px;
        background-image: url("../img/indexContent.png");
    }
    div.indexContent {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

}