/* Styles for mobile device */
@media only screen and (max-width: 900px) {
    /* All styles */

    /* Header styles */
    header {
        height: 60px;
        width: 100%;
        background-color: rgb(0, 80, 169);
    }
    div#headerBlock {
        height: 100%;
    }
    img.menuIcon {
        height: 20px;
        margin-top: 22px;
        margin-left: 25px;
    }
    img.searchIcon {
        height: 20px;
        float: right;
        margin-top: 22px;
        margin-right: 25px;
    }
    /* Menu styles */
    .visibleMenu {
        position: fixed;
        left: 0;
    }
    .hiddenMenu {
        position: fixed;
        left: -100%;
    }
    menu {
        position: relative;
        transition-duration: 1s;
        z-index: 99;
    }
    a.homePage {
        display: block;
        text-align: center;
        text-decoration: none;
        color: rgb(0, 80, 169);
        margin: 20px auto;
    }
    a.sign {
        margin-left: 25px;
        text-decoration: none;
        color: rgb(0, 80, 169);
        font-weight: 700;
    }
    p.categories {
        margin-top: 30px;
        padding: 10px;
        padding-left: 20px;
        font-size: 0.7em;
        font-weight: 700;
        color: rgb(140, 140, 140);
        background-color: rgb(233, 233, 233);
    }
    div.menuContent {
        position: fixed;
        width: 70%;
        height: 100%;
        background-color: rgb(249, 249, 249);
        z-index: 5;
    }
    div.closeMenu {
        position: fixed;
        left: 100%;
        height: 100%;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.3);
        transition-duration: 1s;
    }
    img.closeIcon {
        margin-top: 10px;
        margin-left: 10px;
        height: 62px;
    }
    a.menuLink {
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 3px;
        color: rgb(255, 255, 255);
    }
    a.menuLink>li {
        padding: 3px;
        background-color: rgb(140, 140, 140);
        list-style-type: none;
    }
    /* Search styles */
    .hiddenSearch {
        position: fixed;
        top: -11em;
    }
    .visibleSearch {
        position: fixed;
        top: 0;
    }
    form#searchForm {
        transition-duration: 1s;
        background-color: rgb(0, 80, 169);
        width: 100%;
        height: 11em;
        color: red;
    }
    p.closeSearch {
        color: rgb(255, 255, 255);
        float: right;
        padding: 20px;
    }
    input.searchInp {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1.3em;
        border: none;
        border-radius: 4px;
        outline: none;
    }
    /* Index content styles */
    div#indexContent {
        background-color: rgba(0, 0, 0, 0.1);
        background-position: center;
        background-size: cover;
        height: 360px;
        background-image: url("../img/indexContent.png");
    }
    div.indexContent {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    h1.indexH1 {
        padding-top: 30px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1.5em;
    }
    /* Index form styles */
    form.indexForm {
        padding-top: 40px;
        width: 80%;
        margin-left: 10%;
    }
    input.indexInp {
        width: 100%;
        border: none;
        font-size: 1.1em;
        padding: 13px;
        outline: none;
        text-align: center;
    }
    input.indexInpOne {
        border-bottom: 1px solid rgb(145, 150, 180);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    input.indexInpTwo {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    input.indexFormBtn {
        border: none;
        width: 100%;
        margin-top: 30px;
        padding: 12px;
        font-size: 0.9em;
        font-weight: 700;
        color: rgb(255, 255, 255);
        background-color: rgb(249, 146, 34);
        border-radius: 4px;
    }
    /* Content sign style */
    a.OneBtn {
        display: block;
        background-color: rgb(0, 80, 169);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 4px;
        padding: 10px;
        font-size: 1.5em;
        text-decoration: none;
        width: 40%;
        margin-left: 30%;
        margin-top: 2em;
    }
    form.signForm {
        margin-top: 5em;
        background-color: rgb(233, 233, 233);
        padding: 3em;
    }
    input.input {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 1px;
        border: 1px solid rgb(0, 80, 169);
        padding: 5px;
        font-size: 1.3em;
        border-radius: 4px;
    }
    input.button {
        display: block;
        background-color: rgb(0, 80, 169);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 4px;
        padding: 10px;
        font-size: 1em;
        width: 80%;
        margin-left: 10%;
        margin-top: 2em;
    }
}